<p id="notice"><%= notice %></p>

<p>
  <b>Group:</b>
  <%= @group.groupid %>
</p>

<p>
  <b>Current Users:</b>
  <ul>
  <% @group.user_ids.each { |user| %>
  <li><%= link_to User.where(:email => user).first.firstname + " " + User.where(:email => user).first.lastname, User.where(:email => user).first %> <%= button_to "Remove", {:action => :removeuser, :user => user}, :method => :put %></li>
  <% } %>
  </ul>
</p>
Add a user by email or user_id:
<%= form_for @group, :url => { :action => :adduser } do |f| %>
  <%= text_field_tag :user %>
<% end %>
<!--
<%= form_tag(:action => :adduser, :user => "lol" ) do %>
        <%= text_field_tag :useradd, nil, :placeholder => "Enter a user's email or userid", :autocomplete => "off" %> 
        <% end %>
      -->
        <br />
<br />
<br />


<!--
<%= link_to 'Edit', edit_group_path(@group) %> |
<%= link_to 'Back', "/groups", :method => :get %>
-->