<h1>Listing users</h1>

<table>
  <tr>
    <th>Userid</th>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Email</th>
    <th>Password</th>
    <th>Group_ids</th>
    <th>Schedule</th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.userid %></td>
    <td><%= user.firstname %></td>
    <td><%= user.lastname %></td>
    <td><%= user.email %></td>
    <td><%= user.password %></td>
    <td><%= user.group_ids %></td>
    <td><%= user.schedule %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>

<h1>Listing groups</h1>

<table>
  <tr>
    <th>Groupid</th>
    <th>User_ids</th>
    <th>Public</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @groups.each do |group| %>
  <tr>
    <td><%= group.groupid %></td>
    <td><%= group.user_ids %></td>
    <td><%= group.public %></td>
    <td><%= link_to 'Show', group %></td>
    <td><%= link_to 'Edit', edit_group_path(group) %></td>
    <td><%= link_to 'Destroy', group, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Group', new_group_path %>
