<h1>Listing schedules</h1>

<table>
  <tr>
    <th>ObjectID</th>
    <th>Userid</th>
    <th>Courses</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @schedules.keys.each do |userid| %>
  <tr>
    <td><%= @schedules[userid].id %></td>
    <td><%= @schedules[userid].userid %></td>
    <td><%= @schedules[userid].courses %></td>
    <td><%= link_to 'Show', @schedules[userid] %></td>
    <td><%= link_to 'Edit', edit_schedule_path(@schedules[userid]) %></td>
    <td><%= link_to 'Destroy', @schedules[userid], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Schedule', new_schedule_path %>
