<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @schedule.username %>
</p>

<p>
  <b>Monday:</b>
  <%= @schedule.monday %>
</p>

<p>
  <b>Tuesday:</b>
  <%= @schedule.tuesday %>
</p>

<p>
  <b>Wednesday:</b>
  <%= @schedule.wednesday %>
</p>

<p>
  <b>Thursday:</b>
  <%= @schedule.thursday %>
</p>

<p>
  <b>Friday:</b>
  <%= @schedule.friday %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
