<p id="notice"><%= notice %></p>

<p>
  <b>Userid:</b>
  <%= @schedule.userid %>
</p>
<p>
  <b>Courses:</b>
  <%= @schedule.courses %>
</p>
<p>
	<%= link_to 'Add Course', new_course_path %>
</p>


<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>