<% 
classes= []
Testudo.all.each {|testudo| 
classes.push(testudo.classid.to_s + " Section:" + testudo.section.to_s)
} 

%>
<br />
Add a class:
<%= form_for @course do |f| %>
        <%= text_field_tag :coursetoadd, nil, :placeholder => "Search for a class", :autocomplete => "off", :data => { :provide=>"typeahead", :source=> classes} %> 
        <% end %>
<br />
<br />
<br />
<!--
<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :section %><br />
    <%= f.number_field :section %>
  </div>
  <div class="field">
    <%= f.label :credits %><br />
    <%= f.number_field :credits %>
  </div>
  <div class="field">
    <%= f.label :building %><br />
    <%= f.select :building, @course.building %>
  </div>
  <div class="field">
    <%= f.label :room %><br />
    <%= f.select :room, @course.room  %>
  </div>
  <div class="field">
    <%= f.label :day %><br />
    <%= f.select :day, @course.day %>
  </div>


  
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->