<h1>Listing courses for <%= current_user.userid %></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Section</th>
    <th>Credits</th>
    <th>Building</th>
    <th>Room</th>
    <th>Day</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @courses.each_with_index do |course,i| %>
  <tr>
    <td><%= course.name %></td>
    <td><%= course.section %></td>
    <td><%= course.credits %></td>
    <td><%= course.building %></td>
    <td><%= course.room %></td>
    <td><%= course.day %></td>
    <td><%= course.time %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', "/courses/" + i.to_s , confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Course', new_course_path %>
