<!DOCTYPE html>
<html>
<head>
  <title>schedquarters</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "top">
	<div id = "header_inner">
		<a href = "/"><div id = "logo"></div></a>
    
    <% 
usersandgroups = []
Group.all.each {|group| 
usersandgroups.push(group.groupid) 
} 

User.all.each {|user|
usersandgroups.push(user.firstname + " " + user.lastname)}
%>
		<div id = "searchbartop">
      <%= form_tag("/search", :method => "get") do %>
        <%= text_field_tag :searchbar, nil, :placeholder => "Search for a group or user", :autocomplete => "off", :data => { :provide=>"typeahead", :source=> usersandgroups} %> 
        <% end %>
		</div>


   
		<div id = "logintop">
      <%= link_to(User.where(:email => current_user.email).first, :id => "loginlink") do %>
      <div id = "userimage">
      <%= image_tag current_user.avatar.url(:thumb) %>
    </div>
      <div id  = "username">
       <span> <%= current_user.firstname + " " + current_user.lastname %></span>
      </div>
      <% end %>      
    </div>
    <!--
    <div id = "navcontainer">
      <ul id = "nav">
        <li><a href = "/">Home</a></li>
        <li ><a href = "/invite/">Help</a></li>
      </ul>
    </div>
    -->
    <div class="settingsdropdown">
      <a class = "settingsbut cal" href = "/canvas" data-placement = "bottom" data-toggle = "tooltip" title data-original-title = "My Schedule"><i class="icon-calendar icon-2x"></i></a>
      <a class = "settingsbut home" data-placement = "bottom" href = "/" data-toggle = "tooltip" title data-original-title = "Home"><i class="icon-home icon-2x"></i></a>
      <!--
  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown"  href="#">-->
  <a class = "settingspop" data-container="html" data-toggle = "tooltip"  data-placement="bottom" data-toggle = "popover" data-content = "<ul id = 'setdropdown'><a><li>Schedule Settings</li><a href = '/users/logout' data-method = 'delete'><li>Log Out</li></a><li id = 'setmenudivide'></li><a><li>Help</li></a></ul>"><i class="icon-cogs icon-2x"></i></a>
   <!--</a>
  <ul class="settingsdropdown-menu" role="menu" aria-labelledby="dLabel">
   <li><a tabindex="-1" href="#">Logout</a></li>
  <li><a tabindex="-1" href="#">Test</a></li>
  <li><a tabindex="-1" href="#">Lol</a></li>
  </ul>
-->
      </div>
	</div>
</div>
<div id = "maincontainer">
	<div id = "content">
		<div id = "sidebar">
			<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading hq">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
       <i class="icon-sitemap icon-large"></i><h2>Headquarters</h2>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
         <ul class = "hqsidebar">
          <% Headquarter.sort(:hqname).each { |hq| %>
            <li> <%= link_to(Headquarter.where(:hqname => hq.hqname).first) do %><h3><%= hq.hqname %></h3><% end %>

            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading groups">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <i class="icon-group icon-large"></i><h2>
        Groups
        </h2>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "groupsidebar">
          <% current_user.groups.sort.each { |group| %>
            <li> <h3><%= link_to group.groupid, :controller => "canvas", :group => group.groupid, :next => false %></h3>
                        <!--<input type = "radio" id = "<%= group.groupid %>" class = "groupsidebarradio">-->
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading users">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <i class = "icon-user icon-large" ></i><h2>Users</h2>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "usersidebar">
        <% User.sort(:firstname).each { |user| %>
           <li> 
            <%= link_to(User.where(:email => user.email).first) do %><h3><%= user.firstname + " " + user.lastname %></h3>
            <%  small = ""  
              if !user.userid.nil?   
                small = user.userid   
              else   
              end %>
              <input type = "checkbox" class = "usersidebarcheck">
            <h6><%= small %></h6><% end %>
            </li> 
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading display">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        <i class = "icon-picture icon-large"></i><h2>Display Options</h2>
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "displaysidebar">
            <li><a id = "individualscroll" class = "btn display active"><h3>Individual Scroll</h3></a></li>
            <li><a id = "groupoverlay" class = "btn display"><h3>Group Overlap</h3></a></li>
            <li><a id = "daily" class = "btn display"><h3>Daily</h3></a></li>
            <li><a id = "weekly" class = "btn display active"><h3>Weekly</h3></a></li>
            <li><a id = "monthly" class = "btn display"><h3>Monthly</h3></a></li>
        </h3>
      </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading function">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        <i class = "icon-wrench icon-large"></i><h2>Functions</h2>
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "functionsidebar">
          <li><a href = "#freeTimeModal" id = "avalTime" role="button" class="btn" data-toggle="modal">
            <h3>Show Available Times</h3></a></li>
          <li><a><div class='external-event'>Add Event</div></a></li>
      </ul>
      </div>
    </div>
  </div>
</div>
		</div>
		<div id = "maincontentholder">
			<div id = "maincontent">
			<%= yield %>
			</div>
		</div>
	</div>
</div>
<div id = "footer">
</div>
<div id="freeTimeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Available Time</h3>
  </div>
  <div class="modal-body">
    Select day: <select id = "selectFreeDay">
      <option>M</option>
      <option>Tu</option>
      <option>W</option>
      <option>Th</option>
      <option>F</option>
    </select>
    <br />
    Specify minimum-duration:
    <textarea id = "freeDur" rows = "1" max-length = "4"></textarea> minutes
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    <button class="btn btn-primary" id = "freetime" data-dismiss="modal">Find time!</button>
  </div>
</div>
<script type = "text/javascript">

</script>
</body>
</html>
