<!DOCTYPE html>
<html>
<head>
  <title>schedquarters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "top">
	<div id = "header_inner">
		<a href = "/"><div id = "logo"></div></a>
    
		
    <% 
usersandgroups = []
Group.all.each {|group| 
usersandgroups.push("Group: " + group.groupid) 
} 

User.all.each {|user|
usersandgroups.push("User: " + user.firstname + " " + user.lastname)}
%>
		<div id = "searchbartop"><input type="text" placeholder = "Search for a group or user" data-provide="typeahead" id = "searchbar"  data-source= '<%= usersandgroups %>' />
		</div>


   
		<div id = "logintop">
      <a id = "loginlink" href = "#">
      <% lol = User.where(:userid => "user8").first %>
      <div id = "userimage">
      <%= image_tag lol.avatar.url(:thumb) %>
    </div>
      <div id  = "username">
       <span> <%= lol.firstname + " " + lol.lastname %></span>
      </div>
      </a>
      
    </div>
    <!--
    <div id = "navcontainer">
      <ul id = "nav">
        <li><a href = "/">Home</a></li>
        <li ><a href = "/invite/">Help</a></li>
      </ul>
    </div>
    -->
    <div class="settingsdropdown">
      <a class = "settingsbut"><i class="icon-calendar icon-2x"></i></a>
      <a class = "settingsbut"><i class="icon-home icon-2x"></i></a>
      <!--
  <a class="dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown"  href="#">-->
  <a class = "settingsbut"><i class="icon-cogs icon-2x"></i></a>
   <!--</a>-->
  <ul class="settingsdropdown-menu" role="menu" aria-labelledby="dLabel">
   <li><a tabindex="-1" href="#">Logout</a></li>
  <li><a tabindex="-1" href="#">Test</a></li>
  <li><a tabindex="-1" href="#">Lol</a></li>
  </ul>
      </div>
	</div>
</div>
<div id = "maincontainer">
	<div id = "content">
		<div id = "sidebar">
			<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
       <i class="icon-sitemap icon-large"></i><h2>Headquarters</h2>
      </a>
    </div>
    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
         <ul class = "hqsidebar">
          <% Headquarter.sort(:hqname).each { |hq| %>
            <li> <%= link_to(Headquarter.where(:hqname => hq.hqname).first) do %><h3><%= hq.hqname %></h3><% end %>

            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
        <i class="icon-group icon-large"></i><h2>Groups</h2>
      </a>
    </div>
    <div id="collapseTwo" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "groupsidebar">
          <% Group.sort(:groupid).each { |group| %>
            <li> <%= link_to(Group.where(:groupid => group.groupid).first) do %><h3><%= group.groupid %></h3><% end %>

            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
        <i class = "icon-user icon-large" ></i><h2>Users</h2>
      </a>
    </div>
    <div id="collapseThree" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "usersidebar">
        <% User.sort(:firstname).each { |user| %>
           <li> 
            <%= link_to(User.where(:userid => user.userid).first) do %><h3><%= user.firstname + " " + user.lastname %></h3><h6><%=user.userid %></h6><% end %><input type = "checkbox" class = "usersidebarcheck">
            </li> 
          <% } %>
        </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
        <i class = "icon-picture icon-large"></i><h2>Display Options</h2>
      </a>
    </div>
    <div id="collapseFour" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "displaysidebar"><h3>
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf</h3>
      </ul>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFive">
        <i class = "icon-wrench icon-large"></i><h2>Functions</h2>
      </a>
    </div>
    <div id="collapseFive" class="accordion-body collapse">
      <div class="accordion-inner">
        <ul class = "functionsidebar"><h3>
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf
        Anim pariat Anim pbob adfadsf asdfasdf adfasdfdf  apraefpas adfadfan adjfkdf</h3>
      </ul>
      </div>
    </div>
  </div>
</div>
		</div>
		<div id = "maincontentholder">
			<div id = "maincontent">
			<%= yield %>
			</div>
		</div>
	</div>
</div>
<div id = "footer">
</div>
<script type = "text/javascript">

</script>
</body>
</html>
