<!DOCTYPE html>
<html>
<head>
  <title>schedquarters</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id = "top">
  <div id = "header_inner">
    <a href = "/"><div id = "logo"></div></a>  
    <div id = "signinholder">
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div id = "signin">
  <%= f.email_field :email,:placeholder => "Email", :autofocus => true %>
  <%= f.password_field :password, :placeholder => "Password" %>
  <%= f.submit "Log in", :class => "signinsubmit" %></div>

  <% if devise_mapping.rememberable? -%>
    <div id = "signinremember"><%= f.check_box :remember_me, :class => "signincheck" %> <div id = "signinrest"><%= f.label "Keep me logged in" %>   <%= render "devise/shared/customlinks" %></div></div>
  <% end -%>

<% end %>
    </div>
  </div>
</div>
<div id = "maincontainer">
  <div id = "content">
    <div id = "signupcontentholder">
      <div id = "signupinfo">
        <div id = "infomain">
          <p>Create a central location to view schedules.</p>
          <span>Find common free time and schedule new events with friends!</span>
        </div>
        <div id = "infodivider"></div>
        <div id = "infodetails">
          <table id = "infodeetstable">
            <tr>
                <td>
                  <i class="icon-sitemap icon-3x"></i>
                  <span> Join a main network/ headquarters with
                    others who are similar to you. </span>
                </td>
                <td>
                  <i class="icon-group icon-3x"></i>
                  <span> Create or join groups where you can invite
                    members privately and collaboratively schedule. </span>
                </td>
            </tr>
                
            <tr>
                <td>
                  <i class="icon-wrench icon-3x"></i>
                  <span> Perform functions like finding common free time, adding
                    events to schedules, and more. </span>
                </td>
                <td>
                  <i class="icon-lock icon-3x"></i>
                  <span> Set privacy viewing settings for your schedule and
                    let others see only what you want them to see. </span>
                </td>
            </tr>
          </table>
        </div>
      </div>
      <div id = "signup">
        <div id = "signupparameters">
      <%= yield %>
        </div>
        
    </div>
    </div>
    </div>
    
  </div>
</div>
<div id = "footer">
</div>
<script type = "text/javascript">

</script>
</body>
</html>
